<style>
    .fh-section { margin: 64px 0}
    .fh-h2 { font-size: 4em; }
    .fh-content { padding-top: 64px; padding-bottom: 64px;}
</style>
<div id="first_heading" class="container-fluid d-flex justify-content-center bg-light">
    <div class="col-11 fh-section border-top border-bottom d-flex fh-content">
        <div class="me-4">
            <p class="fw-bold text-body-emphasis fh-h2">Las Primeras Farolas<span class="ms-4 text-secondary">Llegan a la Ciudad</span></p>
            <p class="fw-medium text-body-emphasis fs-1">Acho seguro no os lo creeréis pero las buenas farolicas estan aquí, ya podremos ordeñar nuestras vacas y vaciar nuestras fosas sépticas de noche, o incluso sacar a pasear al burro con total seguridad.</p>
        </div>
        <img class="rounded-circle me-0 ms-auto fh-img" src="./assets/img/1.jpg">
    </div>
</div>