<div id="portfolio" class="fluid-container m-5">
<h1>Noticias más destacadas</h1>
<p>En esta sección te traemos las noticias más relevantes de nuestra comunidad para que no te pierdas ningún evento. Puedes consultar más información sobre Murcia y su gente en la Plaza del Ayuntamiento de Murcia en Glorieta de España, 1. ¡Te esperamos!</p>
<div class="row">
    <div class="col-4">
      <div class="card">
        <img src="https://phantom-elmundo.unidadeditorial.es/a66f1edc9cc2d015e49b3dc59d6435de/resize/1200/f/webp/assets/multimedia/imagenes/2020/10/08/16021670508525.jpg" class="img-fluid" style="width: 500px; height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">AchoValley, ¿Es Murcia el nuevo Silicon Valley?</h5>
          <p class="card-text">No queremos que el talento murciano emigre y se pierda. Creemos que Acho Valley puede ser un gran punto de encuentro y referente del talento ...</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisaradio/R6SLG35G3BOJHKSEOVR75YPEA4.jpg" class="img-fluid" style="width: 500px; height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Por qué nos reímos de Murcia y por qué no deberíamos reírnos (tanto)</h5>
          <p class="card-text">Chistes, parodias sobre su acento, bromas con su clima... Nos cachondeamos de ellos (y con ellos), pero...</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="https://static.eldiario.es/clip/00aba53a-1cd3-4fe6-99b0-5eb8ca1b3a8e_16-9-aspect-ratio_default_0.jpg" class="img-fluid" style="width: 500px; height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Murcian's lives matter</h5>
          <p class="card-text">Los murcianos deciden dejar de coger limones para unirse al movimiento para visibilizar el odio que día a día reciben los murcianos.</p>
        </div>
      </div>
    </div>
</div>